body {
    background-color: #f7f9fe;
    overflow: overlay!important
}

.page-top-card {
    background-size: cover;
    background-position: center;
    height: 20rem;
    padding: 10px 2.7rem;
    border-radius: 20px;
    color: #fff;
    position: relative
}

span.content-item-title {
    font-size: 2.3em;
    font-weight: 700;
    line-height: 1.2
}

.content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: calc(100% - 5.4rem);
    bottom: 1rem
}

a.banner-button {
    cursor: pointer;
    color: #fff!important;
    backdrop-filter: saturate(180%) blur(20px);
    background: rgb(120 120 120 / 30%);
    padding: 5px 15px;
    border-radius: 100px;
    text-decoration: none!important
}

